*.pem
clean/**
static/clean/**
__pycache__
api_key.py
*.pcm
todo.md
api_key_openai.py
openai_agent/openai_chats
openai_agent/llama_chats
openai_agent/recordings
openai_agent/test
openai_agent/test2
openai_agent/askit_chats
openai_agent/function_chats
openai_agent/dictations
diarize
openai_agent/test_working

