pyopenssl
aiohttp
aiortc
python-socketio
colorama

torch
transformers
accelerate
optimum

openai

pydub
samplerate
av
opuslib
soundfile
Pillow
torchaudio # silero

lancedb
rerankers[transformers]
sentence-transformers
pip install tantivy