pyopenssl
aiohttp
aiortc
python-socketio
colorama

torch
transformers
accelerate
optimum

openai

pydub
samplerate
av
opuslib
soundfile
Pillow
torchaudio # silero

lancedb
rerankers[transformers]
sentence-transformers
tantivy
termcolor
git+https://github.com/johnrobinsn/askit.git

# eou
onnxruntime
kokoro>=0.3.4
opuslib
pyogg #apt install python3-dev libopus0 libopus-dev libopusfile-dev

pyaudio
